# General
.DS_Store
.vscode/
.idea/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem
*.key
credentials.json
secrets.json

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/
.coverage

# Node / Frontend
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-error.log*
